/***GENERAL***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/***UTILITIES***/
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.d-none{
    display: none;
}

.ht50{
    width: auto;
    height: 50%;
}

/***TEXT***/

.card h2{
    color: white;
    font-size: 1rem;
    margin-top: 14px;
}
.sidebar-nav.center a,
.play-library h5,
.card h5{
    color: #7D7F84 ;
    margin-top: 12px;
}

.query-element{
    display: none;
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
    color: #7D7F84;
}

.query-element h3{
    font-size: 12px;
}

.brano-nome h6{
    color: #7D7F84;
}

.started-from,
.ending-in{
    font-size: 8px;
    font-weight: bold;
    margin: 0 7px;
}

.sidebar-nav.center h3{
    font-size: 12px;
}

.query-element,
.container-side-center .playlist-name ul li a{
    font-weight: bold;
}


/***MAIN LAYOUT***/
.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
}

.main-container{
    width: 100%;
    height: calc(100% - 90px);
    background-color: red;
}

.bottom-container{
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 3;
    background-color: #282828;
}

/***CONTAINERS INSIDE LAYOUT***/

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    padding: 5px 10px;
}

.library{
    flex-basis: calc(100% - 50px);
    height: 100%;
    overflow-y: scroll;
    background-color: #141922;
}

.top-bar{
    width: calc(100% - 50px);
    height: 80px;
    position: fixed;
    z-index: 2;
    background-color:#080b126e;
    justify-content: flex-end;
    align-items: center;
}

.play-library{
    margin-top: 80px;
    margin-bottom: 70px;
    padding: 0px 20px;
}

.music-content{
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    flex-basis: calc(100% / 2 - 10px);
    height: auto;
    margin: 5px;
    text-align: center;
    transition: transform 0.2s ;

}

.player-right,
.player-left{
    width: 30%;
    height: auto;
}

.player-center{
    flex-grow: 1.5;
    height: 100%;
    padding: 5px 0;
}

.player-left{
    align-items: center;
}

.img-player{
    flex-basis: 35px;
    height: auto;
    margin: 0px 10px;
}

.player-center-nav{
    justify-content: center;
    align-items: center;
}

.player-right{
    justify-content: flex-end;
    align-items: center;
}

/**IMG**/
.img-nav,
.logo-sidebar {
    width: 90%;
    height: auto;
    cursor: pointer;
}

.logo-big{
    display: none;
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    cursor: pointer;

}

.card img{
    max-width: 100%;
    height: auto;
    transform: translateY(0px);
    


}

.card.radius img{
    border-radius: 50%;
}

.img-player img{
    width: 100%;
    height: auto;
}

/***ICONS***/

.sidebar-nav.center a{
    margin-bottom: 20px;
}
.fa-plus{
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px;
    padding-left: 11px;
    color: black;
    margin-right: 10px;
    background-color: #83858a;
}

.sidebar-nav.bottom .download-logo{
    width: auto;
    height: 15px;
    margin-bottom: 20px;
}

#line-download{
    color: gray;
    width: 100%;
    margin-bottom: 10px;
    display: none;
}

hr.green-line{
    width: 30%;
    margin: 0 auto;
    color: greenyellow;
}

.sidebar-nav.bottom .profile-logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
}

.sidebar-nav.bottom a{
    align-items: center;
}

.player-left-icon a{
    margin-left: 20px;
    color: #7D7F84
}

.far.fa-heart{
    margin-bottom: 5px;
}

.player-icons{
    justify-content: center;
    align-items: center;
    list-style: none;
}

.player-icons li{
    margin-right: 20px;
}

.player-icons li:last-of-type{
    margin-right: 0;
}


.player-icons li a{
    color: white;
    font-size: 16px;
}

.fa-play-circle{
    font-size: 30px;
}

.player-right div i{
    margin-right: 8px;
    color: white;
    font-size: 12px;
}

.play-btn-hover{
    width: 100%;
    height: auto;
    position: relative;
}

.play-btn-hover i{
    opacity: 0;
    color: white;
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/***PROGRESS BAR PLAYER***/
.player-bar{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 65%;
    height: 5px;
    
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
}

.progress-bar.volume{
    flex-basis: 80px;
    margin-right: 10px;
}

.progress{
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color: lightgray;
    position: relative;
    cursor: pointer;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
    border: 3px solid gray;
    position: absolute;
    right: -10%;
    top: -100%;
    display: none;
    cursor: pointer;
}


/***NAV BAR UTILITIES***/
/**sidebar nav**/
.sidebar-nav.top{
    margin-top: 10px;
    height: auto;
    width: 100%;
}

.sidebar-nav.center{
    width: 100%;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow-y:auto;

}

.sidebar-nav.center a{
    align-items: center;
}

.playlist-name ul li a{
    margin-bottom: 15px;
    font-size: 12px;
}

.sidebar-nav.bottom{
    height: auto;
    width: 100%;
    align-items: center;
}

.sidebar-nav.top ul li{
    margin-bottom: 5px;
}

/**library nav**/
.library-nav ul{
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

.library-nav ul li a{
    color: #7D7F84;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.library-nav ul li{
    margin: 20px 10px;
}

/***BTN AND LINK***/

/*utilities btn decorations*/
.deco-none{
    text-decoration: none;
}

.colr-wht{
    color: white;
}

/*dimensions btn*/
.top-bar a{
    padding: 10px 40px;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
}

/****MEDIA QUERY****/

@media screen and (min-width: 569px){
    .sidebar{
        flex-shrink: 0;
        width: 200px;
    }

    .sidebar-nav li a{
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
    }

    .sidebar-nav li img{
        width: 15%;
        height: auto;
    }

    .logo-sidebar{
        display: none;
    }

    .logo-big{
        display: inline-block;
    }

    

    .container-side-center.d-none{
        display: inline-block;
    }

    .sidebar-nav.bottom{
        align-items: flex-start;

    }

    .sidebar-nav.bottom .download-logo{
        margin-bottom: 0px;
    }

    .sidebar-nav.bottom a{
        align-items: center;
        margin-bottom: 10px;
    }
    
    .card{
        flex-basis: calc(100% / 2 - 10px);
    }

    #line-download{
        display: inline-block;
    }

    .top-bar{
        width: calc(100% - 200px);
    }

    .query-element{
        
        display: inline-block;
    }

}

@media screen and (min-width: 767px){
    .card{
        flex-basis: calc(100% / 4 - 10px);
    }
}

@media screen and (min-width: 991px){
    .card{
        flex-basis: calc(100% / 6 - 10px);
    }

    .player-left h6{
        display: inline-block;
    }

}
/*----END QUERY---*/

/**HOVER EFFECTS**/

.progress-bar:hover .circle{
    display: inline-block;
}

.progress-bar:hover .progress{
    background-color: greenyellow;
    
}

.player-left h6:hover,
.player-left-icon .fa-folder:hover,
.player-left-icon .fa-heart:hover,
.library-nav nav ul li :hover,
.sidebar-nav.bottom .query-element:hover,
.playlist-name ul li a:hover,
.container-side-center a h4:hover,
.sidebar-nav ul li a img:hover{
    color: white;
}

.player-left h6:hover{
    text-decoration-line: underline;
}
.top-bar .btn:hover,
footer .fa-play-circle:hover{
    transform: scale(1.1);
}

.fa-plus:hover{
    background-color: white;
}

.card:hover .fa-play-circle{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s;
}

.card:hover img{
    filter: opacity(0.6);
    transition: filter 0.2s;

}

.card:hover{
    transform: translateY(-10px);
    transition: transform 0.2s ;
}

.sidebar-nav ul li :hover,
li a .img-nav:hover{
    filter: brightness(50);
    color: white;
}

